# -*- coding: utf-8 -*-

ICAL_CALNAME = "Munich Makes - Community Calendar"

IGNORE_ERRORS = True

EVENTBRITE_OAUTH_TOKEN = "xxxxxxxxxxxx"

TZ = "Europe/Berlin"

SOURCES = [
		{
			"name": "muccc",
			"title": "MuCCC",
			"color": "orange",
			"type": "ics",
			"url": "http://api.muc.ccc.de/wiki_kalender_public.ics"
		},
		{
			"name": "werkbox",
			"title": "WerkBox3",
			"color": "red",
			"type": "ics",
			"url": "http://www.werkbox3.de/events.ics"
		},
		{
			"name": "arduino_meetup",
			"title": "Arduino Meetup",
			"color": "grey",
			"type": "ics",
			"url": "http://www.meetup.com/Munchen-Arduino-Meetup/events/ical/"
		},
		{
			"name":"mumalab",
			"title":"Munich Maker Lab",
			"color": "blue",
			"type": "ics",
			"url": "https://www.google.com/calendar/ical/lbd0aa2rlahecp7juvp35hd0k0%40group.calendar.google.com/public/basic.ics"
		},
		{
			"name": "fablab",
			"title": "FabLab München",
			"color": "#009900",
			"type": "multiple",
			"sources": [
				{
					"type": "eventbrite",
					"organizer": "7227151391"
				},
				{
					"type": "eventbrite",
					"organizer": "7117094347"
				}
			]
		},
		{
			"name": "importexport",
			"title": "Import Export",
			"color": "red",
			"type": "facebook",
			"page_id": "impex.muc",
			"website": "http://www.import-export.cc/"
		}
	]

# Twitter
DAYS_AHEAD=1

TWITTER_ENABLED = True
TWITTER_CONSUMER_KEY = "xxx"
TWITTER_CONSUMER_SECRET = "xxx"
TWITTER_ACCESS_KEY = "xxx"
TWITTER_ACCESS_SECRET = "xxx"
