beautifulsoup4==4.14.2
blurhash==1.1.5
bs4==0.0.2
certifi==2025.11.12
charset-normalizer==3.4.4
dateparser==1.2.2
decorator==5.2.1
eventbrite==3.3.5
html5lib==1.1
icalendar==6.3.2
icalevents==0.3.1
idna==3.11
Mastodon.py==2.1.4
microdata==0.8.0
oauthlib==3.3.1
python-dateutil==2.9.0.post0
python-magic==0.4.27
pytz==2025.2
PyYAML==6.0.3
regex==2025.11.3
requests==2.32.5
requests-oauthlib==2.0.0
six==1.17.0
soupsieve==2.8
tweepy==4.16.0
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.5.0
webencodings==0.5.1
